<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Spring Boot Markdown Test - List</title>
</head>

<body>

<div>
    <a th:href="@{/posts/entry}">Post Entry</a>&nbsp;|&nbsp;
    <a th:href="@{/posts/list}">Post List</a>&nbsp;|&nbsp;
    <a href="http://localhost:8080/h2-console/login.jsp">H2 Database</a>
</div>
<br><br>

<ol th:each="post : ${posts}">
    <li>
        <a th:href="@{/posts/detail} + '?post_id=' + ${post.id}" th:text="${post.title}" th:target="_blank"></a>
    </li>
</ol>

</body>
</html>
