<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Spring Boot Markdown Test - List</title>
</head>

<body>
<div>
    <a th:href="@{/posts/entry}">Post Entry</a>&nbsp;|&nbsp;
    <a th:href="@{/posts/list}">Post List</a>
</div>
<br><br>

<ul>
    <li th:text="${post.id}"></li>
    <li th:text="${post.title}"></li>
    <li th:text="${post.markdownContent}"></li>
    <li th:text="${post.htmlContent}"></li>
    <li th:text="${post.status}"></li>
    <li th:text="${post.createdAt}"></li>
</ul>

</body>
</html>
